<%= javascript_include_tag "https://www.google.com/jsapi" %>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'Show All Events', controller: 'events' %>


<p>
<h2>Genders of Our Users:</h2>
<%= column_chart User.group(:gender).count, width: "400px", height: "300px" %>
</p>
<p>
<h2>Geographic Location of Events:</h2>
<%= geo_chart Event.group(:country).count, width: "400px", height: "300px"  %> </p>