<h2>Listing events</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Action</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to 'Show', post_path(post) %>
    </tr>
  <% end %>
</table>

<%= link_to '글쓰기', new_post_path %>